img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.item {
  outline: 1px solid black;
  padding: 10px;
  flex-basis: calc((100% - 3 * 15px) / 3);
  margin-top: 15px;
  margin-left: 15px;
}
